<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About us</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<body>
{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'blog/css/main.css' %}">
<link rel="stylesheet" href="{% static 'blog/css/styles.css' %}">
<link rel="shortcut icon" type="image/x-icon" href="{% static 'blog/images/favicon-logo1.png' %}">


<section class="about-us">
    <div class="row">
        <div class="about-col">
            <h1>We are the world's largest blog</h1>
            <p>
                At EchoVerse, we believe in the power of community building. Our team of writers, enthusiasts, and
                experts are
                committed to delivering high-quality, engaging, and informative articles that cater to professionals.
                Whether you're looking to mention the main goals or interests your audience may have learn something
                new,
                you'll find it all here. From in-depth guides and tutorials to thought-provoking opinion pieces and
                captivating stories, our diverse range of content aims to mention the impact or value your content
                brings entertain.
            </p>
            <a href="{% url 'our_team' %}" class="hero-btn red-btn">EXPLORE NOW</a>
        </div>
        <div class="about-col">
            <img src="{% static 'blog/images/about.jpg' %}">
        </div>
    </div>
</section>

{% load static %}
<footer>
    <br/>
    <div class="row container" style="margin-left: 155px">
        <div>
            <img src="{% static 'blog/images/logo1.png' %}" style="transform: scale(1.4)">
            <div class="text" style="color: silver">
                <p>EchoVerse</p>
                <p>for the best</p>
            </div>
            <ul class="footer-social-links">
                <li class="flex">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                </li>

                <li class="flex">
                    <a href="#"><i class="fa-brands fa-x-twitter"></i></a>
                </li>

                <li class="flex">
                    <a href="#"><i class="fab fa-instagram"></i></a>
                </li>

                <li class="flex">
                    <a href="#"><i class="fab fa-google"></i></a>
                </li>
            </ul>
        </div>
        <div>
            <h3 class="lg-text">Information</h3>
            <div class="footer-links">
                <a href="{% url 'about_us' %}">About Us</a>
                <a href="{% url 'privacy_policy' %}">Privacy Policy</a>
                <a href="{% url 'contact_us' %}">Contact Us</a>
            </div>
        </div>
        <div>
            <h3 class="lg-text">Our partners</h3>
            <div class="footer-links">
                <a href="https://medium.com/">Medium</a>
                <a href="https://www.blogger.com/">Blogger</a>
                <a href="https://twitter.com/">Twitter</a>
                <a href="https://copyblogger.com/">Copyblogger</a>
            </div>
        </div>
        <div>
            <h3 class="lg-text">Have a question?</h3>
            <div class="footer-contact-info">
                <div>
                    <span><i class="fas fa-map-marker-alt"></i></span>
                    <span>701 Lake Parker, Street, MerryLand, USA</span>
                </div>

                <div>
                    <span><i class="fas fa-phone"></i></span>
                    <span>1240-322-3422</span>
                </div>

                <div>
                    <span><i class="fas fa-paper-plane"></i></span>
                    <span>info@edcademy.com</span>
                </div>
            </div>
        </div>
    </div>
    <p class="footer-text">Copyright &copy; 2024. Blog. All Rights Reserved.</p>
</footer>
{% endblock %}
</body>
</html>