<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create a New Blog Post</title>
</head>
<body>
{% extends 'base.html' %}

{% block content %}
{% if user.is_authenticated %}
    <h1>Add Blog Post</h1>
    <br/><br/>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.media }}
        {{ form.as_p }}
        <button class="btn btn-secondary">Post</button>
    </form>
<script>
    var name = '{{ user.id }}';
    document.getElementById('yakovenko').value=name;
</script>
{% else %}
    <h3>You're not allowed here!</h3>
{% endif %}
{% endblock %}
</body>
</html>