<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
{% extends 'base.html' %}
{% load static %}
{% load set_var %}
{% block title %}{{ post.title_tag }}{% endblock %}

{% block content %}
<h1>{{ post.title }}</h1>
<small>By:
    {{ post.author.first_name }}
    {{ post.author.last_name }} -
    {{ post.post_date }}
    {% if user.is_authenticated %}
    {% if user.id == post.author.id %}
    - <a href="{% url 'update_post' post.pk %}">(Edit)</a>
    <a href="{% url 'delete_post' post.pk %}">(Delete)</a>
    {% endif %}
    {% endif %}
</small> <br/>
<hr>
<br/>
{% if post.header_image %}
<img src="{{ post.header_image.url }}">
{% endif %}
<br/><br/>
{{ post.body|safe }}


<hr>
<br/>

<form action="{% url 'post-feedback' post.pk %}" method="POST" style="display: inline;">
    {% csrf_token %}
    {% if user.is_authenticated %}
        {% if user.id != post.author.id %}
            {% if feedback == 'like' %}
                {% set like = "btn-success disabled" %}
                {% set dislike = "btn-like" %}
            {% elif feedback == 'dislike' %}
                {% set like = "btn-like" %}
                {% set dislike = "btn-danger disabled" %}
            {% else %}
                {% set like = "btn-like" %}
                {% set dislike = "btn-like" %}
            {% endif %}
            <button type="submit" name="feedback" value="like" class="btn {{like}}">
                Like
            </button>
            - {{ post.total_likes }} Likes
            <button type="submit" name="feedback" value="dislike" class="btn {{dislike}}">
                Dislike
            </button>
            - {{ post.total_dislikes }} Dislikes
        {% else %}
            {{ post.total_likes }} Likes  {{ post.total_dislikes }} Dislikes
        {% endif %}
    {% else %}
        <a href="{% url 'login' %}">Login to like/dislike</a>
        <br>
        {{ post.total_likes }} Likes  {{ post.total_dislikes }} Dislikes
    {% endif %}

</form>


<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<!--<script>-->
<!--    $(document).ready(function () {-->
<!--        $('button.likeButton, button.dislikeButton').click(function (e) {-->
<!--            e.preventDefault();-->
<!--            var button = $(this);-->
<!--            var postId = button.val();-->
<!--            var oppositeButton = button.hasClass('likeButton') ? '.dislikeButton' : '.likeButton';-->

<!--            // Check if the opposite button is active, and deactivate it-->
<!--            if ($(oppositeButton + '[data-id="' + postId + '"]').hasClass('btn-like') ||-->
<!--                $(oppositeButton + '[data-id="' + postId + '"]').hasClass('btn-danger')) {-->
<!--                $(oppositeButton + '[data-id="' + postId + '"]').removeClass('btn-like btn-danger');-->
<!--                var oppositeCountElement = $('#' + (button.hasClass('likeButton') ? 'dislike' : 'like') + 'Count_' + postId);-->
<!--                var oppositeCount = parseInt(oppositeCountElement.text());-->
<!--                oppositeCountElement.text(oppositeCount - 1);-->
<!--            }-->

<!--            // Toggle the state of the current button-->
<!--            button.toggleClass('btn-like btn-danger');-->
<!--            var action = button.hasClass('likeButton') ? 'like' : 'dislike';-->
<!--            var countElement = $('#' + action + 'Count_' + postId);-->
<!--            var count = parseInt(countElement.text());-->

<!--            // Update the count based on the button state-->
<!--            if (button.hasClass('btn-like')) {-->
<!--                countElement.text(count - 1);-->
<!--            } else {-->
<!--                countElement.text(count + 1);-->
<!--            }-->
<!--        });-->
<!--    });-->
<!--</script>-->

<hr>
<div class="card mb-3">
    <div class="row no-gutters">
        <div class="col-md-2">
            {% if post.author.profile.profile_pic %}
            <img src="{{ post.author.profile.profile_pic.url }}" class="card-img" width="200" height="200">
            {% else %}
            <img src="{% static 'blog/images/default_profile_pic.webp' %}" class="card-img" width="200" height="200">
            {% endif %}
        </div>
        <div class="col-md-10">
            <div class="card-body">
                <h5 class="card-title">{{ post.author.first_name }}
                    {{ post.author.last_name }}
                </h5>
                <p class="small text-muted">
                    {% if post.author.profile %}
                    <a href="{% url 'show_profile_page' post.author.profile.id %}">Profile Page</a>
                    {% if post.author.profile.website_url %}
                    | <a href="{{ post.author.profile.website_url }}">Website</a>
                    {% endif %}

                    {% if post.author.profile.instagram_url %}
                    | <a href="{{ post.author.profile.instagram_url }}">Instagram</a>
                    {% endif %}

                    {% if post.author.profile.twitter_url %}
                    | <a href="{{ post.author.profile.twitter_url }}">Twitter</a>
                    {% endif %}

                    {% if post.author.profile.facebook_url %}
                    | <a href="{{ post.author.profile.facebook_url }}">Facebook</a>
                    {% endif %}
                    {% endif %}
                </p>
                <p class="card-text">{{ post.author.profile.bio }}</p>
            </div>
        </div>
    </div>
</div>
<br/><br/>
<h2>Comments</h2>
<br>
{% if user.is_authenticated %}
{% if not post.comments.all %}
No Comments Yet. <a href="{% url 'add_comment' post.pk %}">Add One</a>
{% else %}
<br/><br/>
{% for comment in post.comments.all %}
<strong>
    {{ comment.name }} -
    {{ comment.date_added }}
</strong>
<br/>
{{ comment.body }}
<br/><br/>
{% endfor %}
<a href="{% url 'add_comment' post.pk %}">Add Comment</a>
{% endif %}
{% else %}
<p>Log in to your account to add comments. <a href="{% url 'login' %}">Login</a></p>
{% endif %}


<hr>
<br/><br/>

<br/><br/>
{% endblock %}
</body>
</html>