<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Privacy Policy</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<body>
{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'blog/css/main.css' %}">
<link rel="stylesheet" href="{% static 'blog/css/styles.css' %}">
<link rel="shortcut icon" type="image/x-icon" href="{% static 'blog/images/favicon-logo.png' %}">
<h1>Privacy Policy</h1>
<p>Last update: 10.02.2024</p>
<p>This Privacy Policy by EchoVerse, Inc., and affiliates and other entities (each, an Affliate, with EchoVerse and its
    affliates collectively called here "ECHOVERSE” or
    “We") explains what type of information may be gathered or tracked on our Site or Services (as defined in our Terms
    of Service, "TOS", available at
    hitipes//wmw truevault.con/torms-f-service.htmi, hew such information may be used and with what other parties the
    information is or may be shared.</p>

<p>YOUR PRIVACY IS IMPORTANT TO US. We understand your and share your concems about the privacy of information and
    Content you may provide to us or
    store through our Services and in this Privacy Policy attempt to explain as clearly as possible what we do with your
    information and, if applicable, how we collect
    it. Please read this policy carefully as it also explains how you may verity the accuracy of any Personal
    Information we have concerning you and how you may
    request TRUEVAULT delete or update your Personal Information. By using our Site (nttps://wwwtruevault.com and any
    other URLs that we may operate or make
    available from time to time) and/or Services you consent to this Privacy Policy.</p>

<p>Please also review carefully our Terms of Service that provides the terms, conditions, disclaimers, and limitations
    of liabilty governing the use of our Services and.
    if you are or intend to become a subscriber to our Services, your use and access to the Site and Services willbe
    further conditioned upon your agreement to the
    Terms of Service.</p>

<h4 style="font-weight: normal">U.S. - EU Safe Harbor Privacy Statement</h4>

<p>EchoVerse ha established a comprehensive privacy program, including a global privacy office and a chef privacy
    officer, designed to help us respect and protect
    ‘your data privacy rights. This statement includes both TrueVault's European Union - U.S. Safe Harbor Privacy
    Statement and the Website Privacy Statement.</p>

<p>For personal information of employees, consumers, healthcare professional, medical research subjects and
    investigators, customers, investors, and government
    ofcials that EchoVerse receives from the European Economic Area, TrveVauit has commited to handing such personal
    information in accordance with the Safe
    Harbor Principles. TrueVault's Safe Harbor certification can be found at http://web ita. doc.
    gow/safeharbor/shlist.nst/webPages/safe+harbor+list. For more
    information about the Safe Harbor Principles, please visit the U.S. Department of Commerce's Website at
    hitp//export. gov/safeharbor.</p>

<p>EchoVerse believes in protecting your privacy. When we collect personal information from you on our website, we
    follow the privacy principles of (an independent
    resource mechanism) and comply with the U..-EU Safe Harbor Framework asset forth by the U.S. Department of Commerce
    regarding the collection, use and
    retention of personal data from the European Urion. These are our promises to you:</p>

<div class="information" style="margin-left: 40px">
    <ul class="bullet-list">
        <li><strong>Notice.</strong> When we collect your personal information, we'll give you timely and appropriate
            notice
            describing what
            personal information we're collecting, how we'll use it, and the types of third parties with whom we may
            share
            it.
        </li>
        <li>
            <strong>Choice.</strong> We'll give you choices about the ways we use and share your personal information,
            and we'll
            respect the
            choices you make.
        </li>
        <li>
            <strong>Relevance.</strong> We'll collect only as much personal information as we need for specifi,
            identified purposes, and
            we won't use it for other purposes without obtaining your consent.
        </li>
        <li>
            <strong>Retention.</strong> Well keep your personal information only as long as we need it for the purposes
            for which we
            collected it, or as permitted by law.
        </li>
        <li>
            <strong>Accuracy.</strong> We'll take appropriate steps to make sure the personal information in our records
            is accurate.
        </li>
        <li>
            <strong>Access.</strong> We'll provide ways for you to access your personal information, as required by law,
            so you can correct inaccuracies.
        </li>
        <li>
            <strong>Security.</strong> We'll take appropriate physical, technical, and organizational measures to
            protect your personal
            information from loss, misuse, unauthorized
            access or disclosure, alteration, and destruction.
        </li>
        <li>
            <strong>Sharing.</strong> Except as described in this policy, we won't share your personal information with
            third parties without your consent.
        </li>
        <li>
            <strong>International Transfer.</strong> If we transfer your personal information to another country, we'll
            ake appropriate
            measures to protect your privacy and the
            personal information we transfer.
        </li>
        <li>
            <strong>Enforcement.</strong> We'll regularly review how we're meeting these privacy promises, and we'll
            provide an
            independent way to resolve complaints about our
            privacy practices.
        </li>
    </ul>
</div>

<h4 style="font-weight: normal">What information do we collect?</h4>

<p>Personal Information (including, but not limited to, your name, company, address, telephone number, payment account
    information and e-mail address) may be
    collected when you order Services, register with our site for other information or contact us with a specific
    concem, information request or question. We may also
    collect any relevant comments provided with any question or inquiry and information, if requested, about your
    company, industry, number of employees and such
    other related information.</p>

<p>We may also collect non-personally identifiable and anonymous "Aggregate Information (or example, tracking the
    number of visitors to our Sit, where visitors,
    enter ou site, how long they remain, et.) in connection with the operation of our Ste and Services. Other than
    Personal Information you supply to us voluntarily
    or the Aggregate information that may be gathered va cookies, as described in this policy, ECHOVERSE does not at
    this time collect Personal Information in.
    connection with your use of this Site.</p>

<p>If you are a subscriber or user of EchoVerse’s Services, you provide us, through your acceptance of the TOS, with
    your
    Content (as further defined in the TOS),
    which may contain your personal information or other personal or sensitive information (.0., Protected Health
    Information) of your clients and other thd parties.</p>

<h4 style="font-weight: normal">How and what do we use your information for?</h4>

<p>We wil use the information described above that you submit:</p>

<div class="information" style="margin-left: 40px">
    <ul class="bullet-list">
        <li>To answer your specific inquiry</li>
        <li>To personalize your experience withthe Sito and/or Services;</li>
        <li>To improve customer service, using your information to help us more efficiently respond to service requests
            and support needs;
        </li>
        <li>At your option, to send additional materials relating to TrueVault and Services that may be of interest to
            you or to send you periodic emails using the email address you provided for Services - such emails may
            provide information and updates pertaining to your services, additional services being introduced, as
            occasional news, updates, service information and status, etc.;
        </li>
        <li>
            To aid in the administration of the Site and Services;
        </li>
        <li>
            To process transactions, in which case your information, whether public or private will not be sold,
            exchanged, transferred or given to any other company ("Information Sharing") other than as provided herein,
            without your consent - excluding Information Sharing conducted for the express purpose of delivering the
            purchased Services or in the case of an acquisition, merger, sale or change in control of ECHOVERSE in which
            case no consent by you is required; or
        </li>
        <li>
            As otherwise described in this policy.
        </li>
    </ul>
</div>

<p>ECHOVERSE may, from time to time, share your Personal Information with trusted third party consultants, in which
    case, the consultants shall use your Personal Information solely to assist ECHOVERSE, at its request, with its
    Services, Site and operations, and any such consultants shall be required to comply with the terms of this policy
    and obligations of confidentiality and data security. We may also release your information when we believe release
    is appropriate to comply with the law, enforce our Site and Services' policies, or protect our or others' rights,
    property or safety.</p>

<p>We do not, at this time, share any Aggregate Information that we may collect with other parties for marketing,
    advertising or other such uses.</p>

<h4 style="font-weight: normal">How we use cookies and other technologies.</h4>

<p>As noted above, when you visit the Site or utilize Services various general information regarding your browser,
    operating system, IP address, domain name and
    the like that you use to access the Site and Services from is automatically collected as part of Site and Services
    normal operations.</p>

<p>As part of such Aggregate Information we may collect details about your browsing behavior, such as, but not limited
    to, the number of times and dates you have
    visited the Site or Services, and the amount of time you spend viewing the Site or using the Services, if
    applicable. In addition, ECHOVERSE may track your
    response to our e-mails, including, for example, leaming how many users open an e-mail and compiling aggregated
    statistics about e-mail and other activities
    conducted for ECHOVERSE. Such information is used solely for our internal purposes and in assisting us in enhancing
    customer experiences, support and the
    usability and efficiency of our Site and Services.</p>

<p>Athough we do not do at this ime, in addition to our own cookies forthe above purposes, we reserve the right to use
    “transparent GiFs," on our sites to help
    manage any online advertising or e-mail marketing we may conduct inthe future. These GIF files are commonly used and
    provided by one or more third-party
    service providers, and enable service providers to recognize a unique cookie in your web browser to leam which
    advertisements or e-mails brought you to our
    website and how you use the ste. To conduct these or other activites, we or our service providers sometimes may link
    Personal Information you previously
    provided us (euch as, for example, your name and e-mail address) tothe information the GIF fies provide about how
    you arrive at, navigate through and leave our
    sites.
</p>

<p>You may choose not to accept any such cookies and our Site will stil work if you choose to do so, by adjusting the
    privacy and cookie settings available in your
    web browser. You should refer to your browser's help file and other directions to learn how to do this. Note, that
    under certain circumstances blocking all cookies
    may restrict the sites you can visits and may affect your use of our Services.</p>

<h4 style="font-weight: normal">What Personal Information may we disclose to outside parties?</h4>

<p>Subject to applicable law, we and our various Service Providers (defined below) may disclose and share your Personal
    information:</p>

<div class="information" style="margin-left: 40px">
    <ul class="bullet-list">
        <li>Within ECHOVERSE</li>
        <li>To unaffiliated third patos under contract to perform services for or on bohal of TRUEVAULT (‘Service
            Providers), who are required to uphold and
            maintain privacy and security policies with respect to privacy and the treatment of your Personal
            Information;
        </li>
        <li>
            Toa third party in connection with a proposed or actual sale, merger, or transfer of all or @ portion of a
            business or division of ECHOVERSE; and
        </li>
        <li>
            To other such persons or agencies as permitted or required by applicable aw or regulations.
        </li>
    </ul>
</div>

<p>For debit, credit card and ACH payments, we of necessity employ third parties to process payments on our behalf.
    These third-party processing parties will only
    have access to the information you provide that allows them to fulfll your payment. They are required under
    agreements with ECHOVERSE to process this
    information securely and in accordance with the relevant privacy or data protection laws, standards, regulations and
    best practices.</p>

<h4 style="font-weight: normal">How we protect and store your information.</h4>

<p>
    EchoVERSE takes the security often information it collects through its Site and Services seriously and in response
    implements a variety of security measures
    designed to reduce the risk of unauthorized disclosures and accidental destruction or loss of your Content and to
    maintain the safety of your personal information
    Using methods appropriate to the nature of the data and information provided to us by you.</p>

<p>Personal Information collected via this Site and Services is stored on servers located in the United States, and
    these servers are subject to ECHOVERSE's IT
    security policies and procedures. To discuss the security programs, procedures and policies that we have selected
    and utlize to reasonably secure your personal
    information and Content, please contact your ECHOVERSE representative or contact us through our Site. We will be
    happy to discuss our security program with
    you.</p>

<h4 style="font-weight: normal">California Online Privacy Protection Act Compliance</h4>

<p>Because we value your privacy we have taken the necessary precautions to be in compliance withthe California Online
    Privacy Protection Act. As part ofthe
    California Online Privacy Protection Act, subscriber to our Services who have submited Personal Information may make
    any changes to their information at ary
    time by logging into their account. n addition, given that there are no current defined widely accepted standards,
    as of the date of this Privacy Policy, regarding
    responding to and handling "Do Not Track" mechanisms we do not recognize any web browser Do Not Track settings. f
    this changes in the future we will modify
    this poley and provide an applicable notice.</p>

<h4 style="font-weight: normal">Children's Online Privacy Protection Act ("COPPA") Compliance</h4>

<p>ECHOVERSE is concerned about the safety of children when they use the internet, and will never knowingly collect
    Personal Information from minors (children
    Under 13 years of age, or any other age defined under applicable law) without prior verifiable parental consent that
    complies with those recommended practices
    and applicable rules put forth by the Federal Trade Commission. Our Site and Services are all expressly directed to
    people who are at least 13 years old or older.
    we become aware that a minor is attempting to or has submitted Personal Information, we will not accept such
    Personal
    Information and will then take prompt
    steps to remove any such Personal Information from our records, Site and Services.</p>

<h4 style="font-weight: normal">Links and third-party websites.</h4>

<p>This policy applies only to our Site and Services. Occasionally, at our discretion, we may include or offer links to
    Affilate or third party products or services on our
    Site. These third party sites have separate and independent privacy polices and we therefore have no responsibility
    or liability for the content and activities of,
    these linked sites. You should read and understand the applicable Terms of Use and Privacy Policy that such third
    party sites may offer and require you to
    conform with. We welcome any feedback about these sites.</p>

<h4 style="font-weight: normal">How to opt out or request changes.</h4>

<p>Under laws that may apply fo you, you are ented to request that ECHOVERSE:</p>

<div class="information" style="margin-left: 40px">
    <ul class="bullet-list">
        <li>Provide you with a copy of your Personal information that we hold;</li>
        <li>Cease processing your Personal information, in whole orn part, as you direct us, for the purposes of direct
            marketing;
        </li>
        <li>Correct any errors in that Personal Information; and</li>
        <li>Update Personal information as required</li>
    </ul>
</div>

<p>If you would like to receive a copy of the Person Information we have about you as subrritted to us via this Site orf
    you wish to opt out of receiving marketing
    related communications from us, please send a request to ECHOVERSE at help@truevaut.com. lf your Personal
    Information is incorrect or incomplete, and you
    wish us to correct or delete it, please contact us. We wil then make reasonable efforts to timely correct or update
    your Personal Information (unless we require
    further information from you to complete your request).</p>

<p>You may also ask us to remove your name and other Personal Information from our databases. For each such request, we
    will make all easonable efforts to do
    0 promptly, subject to legal requirements and other considerations, which may require that we maintain your
    information fora specified length of time.
</p>

<h4 style="font-weight: normal">Questions regarding this policy</h4>

<p>If you have questions concerning this Privacy Policy, please contact us at: 415.462.9710 or info@truevault.com.</p>

<h4 style="font-weight: normal">Modification to this Privacy Policy.</h4>

<p>‘ECHOVERSE may, in its sole discretion, update this policy from time to time by posting a new or amended policy on
    this Site. f we make material changes to this
    policy affecting handling of your Personal Information we will provide you an opportunity to opt in under the terms
    ofthe revised policy through an email notice, or
    ‘conspicuous notice on the Site or Services' home page, if applicable. After any such changes take effect, any newly
    collected Personal information will be subject,
    to the terms of the revised policy and all previously collected Personal Information will be handled in accordance
    with your response to our opt-in notice (per the
    revised policy if you opt in and under the previous policy if you do not opt in, which may, however, imit or prevent
    your further use of the Site and Services).</p>

<p>Ino material changes are made to this policy affecting treatment of your Persona Information, the amended policy shall be effective upon posting and your
‘access to or use of the site following an update shall be deemed consent to the revised policy.</p>

<p>We recommend you visit this page regularly and in particular before supplying any Personal Information to us via this Site or Services.
This policy may not be otherwise amended by you without the written consent of ECHOVERSE.</p>


<footer>
    <br/>
    <div class="row container" style="margin-left: 155px">
        <div>
            <img src="{% static 'blog/images/logo1.png' %}" style="transform: scale(1.4)">
            <div class="text" style="color: silver">
                <p>EchoVerse</p>
                <p>for the best</p>
            </div>
            <ul class="footer-social-links">
                <li class="flex">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                </li>

                <li class="flex">
                    <a href="#"><i class="fa-brands fa-x-twitter"></i></a>
                </li>

                <li class="flex">
                    <a href="#"><i class="fab fa-instagram"></i></a>
                </li>

                <li class="flex">
                    <a href="#"><i class="fab fa-google"></i></a>
                </li>
            </ul>
        </div>
        <div>
            <h3 class="lg-text">Information</h3>
            <div class="footer-links">
                <a href="{% url 'about_us' %}">About Us</a>
                <a href="{% url 'privacy_policy' %}">Privacy Policy</a>
                <a href="{% url 'contact_us' %}">Contact Us</a>
            </div>
        </div>
        <div>
            <h3 class="lg-text">Our partners</h3>
            <div class="footer-links">
                <a href="https://medium.com/">Medium</a>
                <a href="https://www.blogger.com/">Blogger</a>
                <a href="https://twitter.com/">Twitter</a>
                <a href="https://copyblogger.com/">Copyblogger</a>
            </div>
        </div>
        <div>
            <h3 class="lg-text">Have a question?</h3>
            <div class="footer-contact-info">
                <div>
                    <span><i class="fas fa-map-marker-alt"></i></span>
                    <span>701 Lake Parker, Street, MerryLand, USA</span>
                </div>

                <div>
                    <span><i class="fas fa-phone"></i></span>
                    <span>1240-322-3422</span>
                </div>

                <div>
                    <span><i class="fas fa-paper-plane"></i></span>
                    <span>info@echoverse.com</span>
                </div>
            </div>
        </div>
    </div>
    <p class="footer-text">Copyright &copy; 2024. Blog. All Rights Reserved.</p>
</footer>
{% endblock %}
</body>
</html>